p.centrado{
    text-align: center;
}

p.desplazado {
    background-color:wheat;
    position: relative;
    right: -1700px;
  }

.background{
    background-color: wheat;
}

.granate{
    text-align: center;
    color: maroon;
}

p.marron{
color: maroon;
}
.negro{
    color: black;
    text-align: center;
    }